#logo{
    margin-left: 55px;
}
.slide{
    margin-top: 1px;
}
.slide img{
    height: 65vh;
}
.fixed-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    height: auto;
}

.col:hover {
    transform: scale(1.1);
}




