/* .carousel-inner{
    height: 400px;
}
.carousel-inner img {
    width: 100%;
    max-height: 400px;
} */
/* .navbar-custom {
    background-color: black;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
} */
#logo{
    margin-left: 55px;
}
.slide{
    margin-top: 1px;
}
.slide img{
    height: 65vh;
}